{name, "gen_event_forwarder"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "gen_event forwarder"}.
{homepage, "https://github.com/yrashk/gen_event_forwarder"}.
{rebar_compatible, true}.
{license, "WTFPL"}.
{url, {git, "https://github.com/yrashk/gen_event_forwarder.git", {branch, "master"}}}.
{applications, [gen_event_forwarder]}.
